<h1 class  ="raw">Help</h1>
<h2 class ="o"></h2>
<p class="text"></p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to "help", static_pages_help_path, :class => "nav-link"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      <%= link_to "home", root_path, :class => "nav-link"%>
      </li>
      <li class="nav-item">
      <%= link_to "creative gallery", root_path, :class => "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <%= link_to "help", root_path, :class => "nav-link"%>
        <%= link_to "help", root_path, :class => "nav-link"%>
        <%= link_to "help", root_path, :class => "nav-link"%>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Developer</th>
      <th scope="col">year</th>
      <th scope="col">e-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Khajak</td>
      <td>14</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Hayk</td>
      <td>15</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gayane</td>
      <td>15</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<h4 class=>կայքում տեղ կգտնեն բոլոր այն մարդկանց նկարներյ որոնք կգրանցվեն կայքում:Նկարները կարող են լինել տարբեր տեսակների եվ ոճերի
</h4>

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
    <%= image_tag 'l.jpg', :class => "d-block w-100" %>
    </div>
    <div class="carousel-item" data-interval="2000">
    <%= image_tag 'pariz.jpg', :class => "d-block w-100" %>>
    </div>
    <div class="carousel-item">
    <%= image_tag 'll.jpg', :class => "d-block w-100" %>>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="sd4">
    <div class="row profile">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<%= image_tag("u.jpeg", :class => "img-responsive", :alt => "rss feed") %> 
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Khajak Ghazaryan
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Follow</a></button>
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Message</a></button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	
	</div>
  <div class="row profile1">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<%= image_tag("u.jpeg", :class => "img-responsive", :alt => "rss feed") %> 
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Hayk
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Follow</a></button>
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Message</a></button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>

							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	
	</div>
  <div class="row profile2">
		<div class="col-md-12">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<%= image_tag("u.jpeg", :class => "img-responsive", :alt => "rss feed") %> 
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Gayane Ohanjanyan
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Follow</a></button>
					<button type="button" class="btn btn-success btn-sm"><a href="https://www.instagram.com/accounts/login/?source=auth_switcher">Message</a></button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>


  

<div class="container">
  <h2 class="t5">Gallery</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>





      <div class="item">
      <%= image_tag("download1.jpeg", :class => "downloadjpg", :alt => "rss feed") %>
      </div>
    
      <div class="item">
      <%= image_tag("2.jpeg", :class => "downloadjpg", :alt => "rss feed") %>
      </div>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</div>
     <h3 class="z08">News</h3>

     <iframe class="a12" src="https://www.youtube.com/embed/z_uPkdiNvMU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     
      <div class="w87">
        <%= image_tag("image.jpeg", :class => "z54", :alt => "rss feed") %>
      
        
        <h2 class="a98">Sitse raakt met ‘Chasing Cars’ | Liveshows | The Voice van Vlaanderen | VTM</h2>
      </div>
       
     
      <div class="w87">
      <%= image_tag("image7.jpeg", :class => "x54", :alt => "rss feed") %>
    
      <h2 class="a98">Sitse raakt met ‘Chasing Cars’ | Liveshows | The Voice van Vlaanderen | VTM</h2>
      </div>
    </div>



    
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
	
	</div>

