









<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-6 mx-auto" style="margin-top: 25%">
        <div class="card card-signin flex-row my-5" style="min-height: 540px">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body height">
            <h5 class="card-title text-center">Edit User</h5>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
<hr>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , style: "width: 250px ; height: 30px"%>
              </div>

<hr>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", style: "width: 250px ; height: 30px" %>
              </div>
<hr>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width: 250px ; height: 30px" %>
              </div>

<hr>

              <%= f.file_field :avatar, class: "btn btn-outline-primary", style: "margin-bottom: 12px" %>

<hr>

            <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>

  <hr>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>

            <% end %>





            

              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>